.btn{
    width: 50px; /* Adjust as needed */
    height: 50px;
    padding: 10px;
}
.equal-sign{
    width:100px;
}
.button-container{
    text-align: center;
}
.mx-auto{
    text-align: center;
}
.form-control{
    justify-content: center;
    padding: 5px;
    width: 10px;
}


.textbox{
    justify-content: center;
    text-align: center;
    display: inline;
    margin: 0 auto;
}
.h1cal{
    font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
